<div class="row">
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="../../images/20160801051030iphone_2.jpg">
      <div class="detail">
          <h3>Name product</h3>
          <p>Description product</p>
      </div>

      <div class="clearfix">
        <a href="#" class="btn btn-success pull-right" role="button">Add to cart</a>
        <div class="btn btn-default pull-left">$ 3000</div>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="../../images/20160801051030iphone_2.jpg">
      <div class="detail">
          <h3>Name product</h3>
          <p>Description product</p>
      </div>

      <div class="clearfix">
        <a href="#" class="btn btn-success pull-right" role="button">Add to cart</a>
        <div class="btn btn-default pull-left">$ 3000</div>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="../../images/20160801051030iphone_2.jpg">
      <div class="detail">
          <h3>Name product</h3>
          <p>Description product</p>
      </div>

      <div class="clearfix">
        <a href="#" class="btn btn-success pull-right" role="button">Add to cart</a>
        <div class="btn btn-default pull-left">$ 3000</div>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="../../images/20160801051030iphone_2.jpg">
      <div class="detail">
          <h3>Name product</h3>
          <p>Description product</p>
      </div>

      <div class="clearfix">
        <a href="#" class="btn btn-success pull-right" role="button">Add to cart</a>
        <div class="btn btn-default pull-left">$ 3000</div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="../../images/20160801051030iphone_2.jpg">
      <div class="detail">
          <h3>Name product</h3>
          <p>Description product</p>
      </div>

      <div class="clearfix">
        <a href="#" class="btn btn-success pull-right" role="button">Add to cart</a>
        <div class="btn btn-default pull-left">$ 3000</div>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="../../images/20160801051030iphone_2.jpg">
      <div class="detail">
          <h3>Name product</h3>
          <p>Description product</p>
      </div>

      <div class="clearfix">
        <a href="#" class="btn btn-success pull-right" role="button">Add to cart</a>
        <div class="btn btn-default pull-left">$ 3000</div>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="../../images/20160801051030iphone_2.jpg">
      <div class="detail">
          <h3>Name product</h3>
          <p>Description product</p>
      </div>

      <div class="clearfix">
        <a href="#" class="btn btn-success pull-right" role="button">Add to cart</a>
        <div class="btn btn-default pull-left">$ 3000</div>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="../../images/20160801051030iphone_2.jpg">
      <div class="detail">
          <h3>Name product</h3>
          <p>Description product</p>
      </div>

      <div class="clearfix">
        <a href="#" class="btn btn-success pull-right" role="button">Add to cart</a>
        <div class="btn btn-default pull-left">$ 3000</div>
      </div>
    </div>
  </div>
</div>
<!--text thử get-post method -->
<form action="/test/input" method="post">
  <input type="text" name="id">
  <button type="submit" name="button">Submit</button>
</form>
